.text {
  display: inline-flex;
  flex-direction: column;
  width: 30%;
}
.board {
  display: inline-flex;
  flex-direction: column;
  border: 3px solid black;
}

.board .row {
  display: inline-flex;
  flex-direction: row;
}

.grid1 {
  display: inline-flex;
  background-color: white;
  width:8vw;
  height: 8vw;
  border: 1px solid black;
}

.grid2 {
  background-color: red;
  width:8vw;
  height: 8vw;
  border: 1px solid black;
  text-align: center;
  font-size: 60px;
}

