* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'breakingbad';
  src: url('../assets/breaking-bad.otf');
  src: url('../assets/breaking-bad.otf') format('opentype');
}

body {
  background-image: url('../assets/images/green-smoke.png');
  background-size: 100%;
}

p {
  color:white;
}

.text {
  display: inline-flex;
  flex-direction: column;
  width: 25vw;
  margin: 0 0 0 3vw;
}

main {
  display: inline-flex;
  flex-direction: row;
}

header {
  color:white;
  display: flex;
  flex-direction: column;
}

header>h1{
  text-align:center;
  font-family: 'breakingbad';
  font-size: 12vw;
  color: green;
  margin: 0 auto;
}

hr {
  width: 100%;
}

#resetBtn {
  width:10vw;
  margin:auto;
}

.board {
  display: inline-flex;
  flex-direction: column;
  border: 3px solid gray;
  margin: 0 0 0 3vw;
}

.board .row {
  display: inline-flex;
  flex-direction: row;
}

.grid1 {
  display: inline-flex;
  background-image: url("../assets/images/br-logo.png");
  background-size: 100%;
  width:8vw;
  height: 8vw;
  border: 1px solid white;
}

.grid3 {
  display: inline-flex;
  background-image: url("../assets/images/ba-logo.png");
  background-size: 100%;
  width:8vw;
  height: 8vw;
  border: 1px solid white;
}

.grid2 {
  background-color: gray;
  width:8vw;
  height: 8vw;
  border: 1px solid white;
  text-align: center;
  font-size: 60px;
}

.boardimg {
  width: 100%;
  height: 100%;
}


@media (max-width: 600px) {
  .boardimg {
    width: 8vw;
  }
}

